@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');
:root {
  --background:#F7F9FF;
  --f_button:#172578;
}
  
*{
    font-family: 'Rubik', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.login_wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    overflow-y: hidden;
}
.left_content{
    width: 50%;
    overflow-y: hidden;
    height: 100%;
    background-color: var(--background);
}
.left_content img{
    height: 80%;
    width: 80%;
    object-fit: contain;
}
.right_content{
    width: 50%;
    padding-left: 80px;
    overflow-y: auto;
    min-height: 100%;
   display: flex;
   flex-direction: column;
   align-content: space-around;
   justify-content: space-around;
}
.signuptext{
    text-align: left;
    font-weight: 400;
    font-size: 30px;
}
.signin_form{
    height: 40%;
}
.signin_form form{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}
.signin_form form input{
    margin-bottom: 30px;
}
.header_absolute{
    /* position: absolute; */
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
    display:  flex;
    align-content: center;
    align-items: center;
}
.header_absolute button{
    margin-left: 15px;
    width: 120px;
}
.other_opts{
    text-align: left;
}
.other_opts>div:nth-child(1){
    font-weight: 500;
    padding-bottom: 20px;
    padding-left: 20px;
}
.other_opts_opts{
    display: flex;
    align-items: center;
    text-align: center;
}
.google_opt{
    width: 80px;
    margin-right: 15px;
    cursor: pointer;
}
.facebook_opt{
    width: 80px;
    cursor: pointer;
}
.facebook_opt:hover{
    background-color: #17267818;
}
.facebook_opt:focus{
    outline: 3px dotted #17267896;
    background-color: #17267818;
}
.google_opt:hover{
    background-color: #17267818;
}
.google_opt:focus{
    background-color: #1726781a;    
    outline: 3px dotted #17267896;
}
.facebook_opt{
    cursor: pointer;
}
.small_screen_signup{
    display: none;
}
/*Media Queries*/
@media screen and (min-width:707px) and (max-width: 1000px){
    .signin_form form{
        width: 90%;
    }
}
@media screen and (max-width: 707px){
    .left_content{
        display: none;
    }
    .right_content{
        background-color: var(--background);
        width: 100%;
        padding-left: 0px;
        display: flex;
        align-content: center;
        align-items: center;
    }
    .other_opts{
        text-align: center;
    }
    .other_opts>div:nth-child(1){
        padding-left: 0px;
    }
    .signin_form{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .signuptext{
        text-align: center;
        font-weight: 500;
        font-size: 22px;
    }
    .small_screen_signup{
        display: block;
        font-size: 18px;
        height: 70px;
    }
    .small_screen_signup u{
        cursor: pointer;
        color: var(--f_button);
    }
}